.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #140035;
    -fx-border-width: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 2;
    -fx-background-color: #F11EAC;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-font-weight : bold;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-text-fill :#FFFFFF;
}