/CSE2100SD/Fre_culator/nbproject/private/
/CSE2100SD/Fre_culator/build/
/CSE2100SD/Freon_calculator/nbproject/private/
/CSE2100SD/Freon_calculator/build/
/CSE2100SD/Freon_calculator/dist/
/CSE2100SD/JavaFXApplication1/nbproject/private/
/CSE2100SD/Lab_practice/nbproject/private/
/CSE2100SD/Lab_practice/build/
/CSE2100SD/Lab_practice/dist/
/CSE2100SD/Chat app/chatting-application-master/Chatting Application/build/
/CSE2100SD/Flash Card/nbproject/private/
/CSE2100SD/FlashCard/nbproject/private/
/CSE2100SD/FlashCard/build/
/CSE2100SD/FlashCard/dist/
/CSE2100SD/JavaFXApplication6/nbproject/private/
/CSE2100SD/JavaFXApplication6/build/
/CSE2100SD/JavaFXApplication6/dist/
/CSE2100SD/Test/nbproject/private/
/CSE2100SD/Test/build/
/CSE2100SD/Test/dist/
/CSE2100SD/tara flash/FlashCard/build/
/CSE2100SD/tara flash/FlashCard/dist/
/CSE2100SD/tara flash/FlashCard/nbproject/private/
/CSE2100SD/JavaFXApplication8/nbproject/private/
/CSE2100SD/JavaFXApplication8/build/
/CSE2100SD/JavaFXApplication8/dist/
*.exe
*.cph
*.vscode
*.o
*.json
tempCodeRunnerFile.cpp